@import '~aos/dist/aos.css';

body {
    font-family: "Raleway";
}

.layout{
    min-height: 100vh;
}

footer, header {
    min-height: 10vh;
}

main{
    min-height: 80vh;
}

.row{
    margin: 0;
}

.rowQuiz{
    min-height: 70vh;
}

.title a{
    text-decoration: none;
    color: black
}

h1 span {
    text-decoration: line-through;
}

.title-h1{
    font-size: 4em;
    margin-bottom: 1em;
}

.link{
    color: #00C2CB;
}

.link:hover, .link:focus{
    color: #0FA6AD;
}

/* Progress bar */
/* .progress{
    border : 2px solid #7B7B7B;
} */
.btn:active, .btn:focus{
    outline: none;
    box-shadow: none
}

.bg-info{
    background: linear-gradient(90deg, rgba(0,194,203,1) 0%, rgba(255,222,89,1) 100%);
}

.card{
    min-height: 320px;
    margin: 1em;
    font-size: 0.9rem;
}

.card-title{
    font-size: 1rem;
}

.true{
    color: green;
    font-weight: bold;
}

.false{
    color: red;
}
